tradistonksapibaseurl=https://api.tradistonks.qtmsheep.com/
OAUTH2_CLIENT_ID=6235a79a33d7f6cd70aab4c7e31d92cc
OAUTH2_REDIRECT_URL_CHALLENGE=https://tradistonks.qtmsheep.com/oauth2/callback
OAUTH2_URL_CHALLENGE=https://oauth2.tradistonks.qtmsheep.com/oauth2/auth?
oauth2_client_secret=56d0e218536608707622e7e8ecdc14f7
oauth2_client_redirect_url=http://localhost:3080/oauth2/callback
oauth2_url_token=https:http://oauth2.tradistonks.qtmsheep.com/oauth2/token
OAUTH2_PKCE_STATE=dPkvseXSu4M33ASh